@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

* {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background-color: rgb(245, 237, 237);
}

button {
  background: none;
  border: 1px solid black;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 4px 1px black;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
  transition: background-color 1s ,padding 1s;
}
button:hover {
  color: #fff;
  padding: 10px 20px;
  background-color: #08c;
}


.App {
  display: flex;
}

/* SIDEBAR STYLES */

.app-sidebar {
  min-width: 30%;
  max-width: 40%;
  height: 100%;
  border-right: 1px solid #ddd;
}

.app-sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
.app-sidebar-header h1 {
  margin: 0;
}

.app-sidebar-notes {
  height: calc(100vh - px);
  overflow-y: scroll;
}
.app-sidebar-note {
  word-wrap: break-word;
  font-weight: bold;
  padding: 35px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebar-note button {
  padding: 5px;
  margin-top: -10px;
  margin-right: -25px;
  color: white;
  background-color: crimson;
  font-weight: bold;
  
}
.app-sidebar-note button:hover {
  background-color: #fff;
  color: crimson;
}
.app-sidebar-note p {
  margin: 10px 0;
}
.app-sidebar-note strong{
  font-size: 22px;
  color:black
}
.app-sidebar-note small {
  display: block;
  color: #999;
}

.app-sidebar-note:hover {
  background: #ddd;
}

.app-sidebar-note.active,
.app-sidebar-note.active small {
  background: #7cb9eb;
  color: white;
}


/* NOTE EDITOR/PREVIEW (MAIN) STYLES */

.app-main {
  width: 60%;
  height: 100vh;
}
.app-main-note-edit,
.app-main-note-preview {
  height: 50vh;
}

.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

/* Editing */
.app-main-note-edit {
  padding: 25px;
}

.app-main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(50vh - 130px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.app-main-note-edit input {
  height: 50px;
  font-size: 2rem;
}

/* Preview */
.app-main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}

@media only screen and (max-width: 768px){
  .app-sidebar{
    width: 40%;
  }
  .app-sidebar-header{
    display: flex;
    flex-direction: column;
  }
  .app-sidebar button{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    padding:5px;
  }
  .app-sidebar-notes{
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    font-size: 14px;
  }
  .app-sidebar-note strong{
    font-size: 14px;
    width: 100%;
    word-wrap: break-word;
    margin-top: -15px;
    margin-left: -20px;
  }
  .app-sidebar-note p{
    font-size: 14px;
    word-wrap: break-word;
    margin-left: -10px;
  }
  .app-sidebar small{
    word-wrap: break-word;
    margin-top: 20px;
    margin-left: -10px;
  }
  .app-sidebar-notes button{
    font-size: 12px;

  }
  .app-main-note-preview{
    word-wrap: break-word;
  }
  .app-main-note-preview .preview-title{
    font-size: 18px;
    text-align: center;
  }
  .app-main-note-preview .markdown-preview{
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  
  .app-main-note-edit textarea{
    font-size: 14px;
  }
  .app-main-note-edit input{
    padding: 5px;
    font-size: 14px;
  }
  .no-active-note{
    word-wrap: break-word;
    font-size:18px;
  }
  
}
